/.idea/*
**/target/*
*.project
*.classpath
*.settings
*.mvn
*.springBeans
## 解决某些版本eclipse在maven子工程自动创建.gitignore文件，并且需要提交的问题
## 一般规范的maven工程，托管到git，只需要在父工程根目录添加一个.gitignore文件即可
## **/.gitignore

## 忽略本项目工程日志文件提交，不同项目工程日志文件存放位置不同，忽略方式不一样
*/logs/*