<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<div class="panel panel-default">
  <div class="panel-heading">秒杀商品详情</div>
  <div class="panel-body">
  	<span th:if="${user eq null}"> 您还没有登录，请登陆后再操作<br/></span>
  	<span>没有收货地址的提示。。。</span>
  </div>
  <table class="table" id="goodslist">
  	<tr>  
        <td>商品名称</td>  
        <td colspan="3" th:text="${goods.goods_name}"></td> 
     </tr>  
     <tr>  
        <td>商品图片</td>  
        <td colspan="3"><img th:src="@{${goods.goods_img}}" width="200" height="200" /></td>  
     </tr>
     <tr>  
        <td>秒杀开始时间</td>  
        <td th:text="${#dates.format(goods.start_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td id="miaoshaTip">	
        	<input type="hidden" id="remainSeconds" th:value="${remainSeconds}" />
        	<span th:if="${miaoshaStatus eq 0}">秒杀倒计时：<span id="countDown" th:text="${remainSeconds}"></span>秒</span>
        	<span th:if="${miaoshaStatus eq 1}">秒杀进行中</span>
        	<span th:if="${miaoshaStatus eq 2}">秒杀已结束</span>
        </td>
        <td>
        	<div class="row">
	        	<div class="form-inline">
		        	<img id="verifyCodeImg" width="80" height="32" style="display: none;" onclick="flushVerifyCodeImg()"/>
		       		<input id="verifyCode" class="form-control" style="display: none;"/>
		       		<button class="btn btn-primary" type="button" onclick="getMiaoshaPath()" id="buyButton">立即秒杀</button>
	        	</div>
        	</div>
       		<input type="hidden" name="goodsId" th:value="${goods.id}" />
        </td>
     </tr>
     <tr>  
        <td>商品原价</td>  
        <td colspan="3" th:text="${goods.goods_price}"></td>  
     </tr>
      <tr>  
        <td>秒杀价</td>  
        <td colspan="3" th:text="${goods.miaosha_price}"></td>  
     </tr>
     <tr>  
        <td>库存数量</td>  
        <td colspan="3" th:text="${goods.stock_count}"></td>  
     </tr>
  </table>
</div>
</body>
<script>
$(function(){
	countDown();
});

function getMiaoshaPath() {
    var goodsId = 1;
    $.ajax({
        url: "/miaosha/path",
        type: "GET",
        data: {},
        success: function(data) {
            if (data.code == 0) {
                var path = data.data;
                doMiaosha(path);
            } else {
                layer.msg(data.msg);
            }
        },
        error: function(){
            layer.msg("客户端请求有误");
        }

    });

}

function doMiaosha(path){
	
	$.ajax({
		url: "/miaosha/" + path + "/do_miaosha",
		type: "POST",
		data: {},
		success: function(data) {
			if (data.code == 0) {
				getMiaoshaResult();
			} else {
				layer.msg(data.msg);
			}
		},
		error: function(){
			layer.msg("客户端请求有误");
		}
		
	});
	
}

function getMiaoshaResult(){
	g_showLoading();
	$.ajax({
		url: "/miaosha/result",
		type: "GET",
		data: {},
		success: function(data) {
			if (data.code == 0) {
				var result = data.data;
				if (0 > result) {
					layer.msg("对不起秒杀失败");
				} else if (result == 0) {	// 继续轮询
					setTimeout(function() {
						getMiaoshaResult();
					}, 200);
				} else {
					layer.confirm("恭喜你，秒杀成功，查看订单？", {btn:["确定", "取消"]}, 
							function() {
								layer.msg("跳转订单列表");
							}, 
							function() {
								layer.closeAll();
							});
				}
			} else {
				layer.msg(data.msg);
			}
		},
		error: function(){
			layer.msg("客户端请求有误");
		}
		
	});
}

function countDown(){
	var remainSeconds = $("#remainSeconds").val();
	var timeout;
	if(remainSeconds > 0){//秒杀还没开始，倒计时
		$("#buyButton").attr("disabled", true);
		timeout = setTimeout(function(){
			$("#countDown").text(remainSeconds - 1);
			$("#remainSeconds").val(remainSeconds - 1);
			countDown();
		},1000);
	}else if(remainSeconds == 0){//秒杀进行中
		$("#buyButton").attr("disabled", false);
		if(timeout){
			clearTimeout(timeout);
		}
		$("#miaoshaTip").html("秒杀进行中");
		// $("#verifyCodeImg").attr("src", "/miaosha/verifyCode");
		flushVerifyCodeImg();
		$("#verifyCodeImg").show();
		$("#verifyCode").show();
		
	}else{//秒杀已经结束
		$("#buyButton").attr("disabled", true);
		$("#miaoshaTip").html("秒杀已经结束");
		$("#verifyCodeImg").hide();
		$("#verifyCode").hide();
	}
}

function flushVerifyCodeImg(){
	$("#verifyCodeImg").attr("src", "/miaosha/verifyCode?random=" + Math.random());
}

</script>
</html>
